@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Set the title of the page
    ViewData["Title"] = "Toa Pita - Mission 04 - About";
}

<h1>Preferred Name: Toa</h1>
<br>
<h2>Something I enjoy:</h2>
<img src="~/img/isfriends.jpeg" alt="Me and Friends" width="1000">
<br>
<label>Hanging Out With Friends</label>

<h2>What I hope to get out of IS413</h2>

<!-- Trying to compete with lorem ipusm here -->
<p>
    I'm excited for this semester! I'm really hoping to get good at enterprise level development.
    The main subjects I'm interested in are React, Multi-user authentication, and programming best
    practices.
    With React I know that there is a React Native framework that will allow you to build mobile
    applications
    which is a field that I'm interested in. With Mulit-user authentication I feel like the last
    limits
    on
    my
    programming abillites will be lifted and I will have relevant skills for the workplace. With
    programming
    best
    practices I feel I'll be better able to place my trust in applications that I've built instead
    of
    expecting
    them to blow up as soon as I launch them to production.
</p>

<h2>Toa's Top 3 Jobs:</h2>

<ol>
    <li>Professor Of Information Systems</li>
    <li>Mobile App Developer</li>
    <li>Web Developer</li>
</ol>





