/* .gradCalc {
    float: right;
    text-align: left;
    padding-left: 195px;
} */

div {
    width: 75%;
    text-align: center;
    align-items: center;
    padding: 5px;
}

p {
    text-align: left;
}

center {
    padding: 10px;
}

.body {
    text-align: center;
}

ol {
    list-style-position: inside;
}

label {
    padding-left: 20px;
}

/* input {
    margin:;
} */

.textbox {
    width: 40px;
}

.calcGrade {
    border-style: solid;
    text-align: center;
    width: 100%;
}

.colored {
    color: white;
}
/*input:last-child {
    background-color: blue;
    color: green;
    border: 0.1rem solid black;
    padding: 0.7rem 1rem;
    font-size: 17.5px;
    font-weight: 600;
}
input:hover {
    background-color:blue;
    color:green;
    cursor: pointer;
    transition: color 426ms cubic-bezier(0.4, 0.9, 0.3, 1), border-color 426ms cubic-bezier(0.4, 0.9, 0.3, 1), background-color 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
}*/